<div class="row">
    <div class="col-md-4" *ngFor="let product of products | paginate: { id: 'productPagenate',
    itemsPerPage: pageSize,
    currentPage: p,
    totalItems: total }">
        <app-product [product]="product"></app-product>
    </div>


</div>
<div class="d-flex justify-content-center">    <pagination-controls  id="productPagenate"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page">
</pagination-controls></div>