<section *ngIf="stage1" class=" w-50 shadow border rounded p-4 bg-main-light m-auto ">
    <form [formGroup]="ForgetPassword" (ngSubmit)="ForgetPasswordFunc()" action="">
        <label for="email">email</label>
        <input formControlName="email" class="form-control" type="email" id="email" placeholder="xx@cc.com">
        <button class="btn bg-main w-100 text-white fw-bolder my-3">Submit</button>
        <p *ngIf="userMessage" class="w-100 alert alert-danger m-auto p-3">{{userMessage}}</p>

    </form>


</section>


<section *ngIf="stage2" [formGroup]="VerifyResetCode" class=" w-50 shadow border rounded p-4 bg-main-light m-auto m-3">
    <form [formGroup]="VerifyResetCode" (ngSubmit)="ResetCode()" action="">
        <label for="code">Reset Code</label>
        <input formControlName="resetCode" class="form-control" type="text" id="code" placeholder="code..">
        <button class="btn bg-main w-100 text-white fw-bolder my-3">Submit</button>
        <p class="w-100 alert alert-danger text Center p-3">{{userMessage}}</p>
    </form>

</section>


<section *ngIf="stage3" class=" w-50 shadow border rounded p-4 bg-main-light m-auto m-3">
    <form [formGroup]="ResetPassword" (ngSubmit)="RePassowrd()" action="">
        <label for="pass">Reset Code</label>
        <input formControlName="newPassword" class="form-control" type="password" id="pass"
            placeholder="new password..">
        <button class="btn bg-main w-100 text-white fw-bolder my-3">Submit</button>

    </form>

</section>