<h1>login Now</h1>
<form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
  <!--property binding عشان يروح يجيب من التايب سكريبت القيمة-->

  <div class="mb-1">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput2">
    <div *ngIf="loginForm.controls['email'].errors && loginForm.controls['email'].touched" class="alert alert-danger ">
      <p *ngIf="loginForm.controls['email'].getError('required')">email is required</p>
      <p *ngIf="loginForm.controls['email'].getError('email')">wrong email</p>
    </div>
  </div>
  <div class="mb-1">
    <label for="exampleFormControlInput1" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleFormControlInput3">
    <div *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].touched"
      class="alert alert-danger ">
      <p *ngIf="loginForm.controls['password'].getError('required')">Password is required</p>
      <p *ngIf="loginForm.controls['password'].getError('pattern')">min 8 char and 1 special characters at least one
        letter and one number </p>
    </div>
  </div>


  <p *ngIf="ErrorMassege" class="alert alert-danger">{{ErrorMassege}}</p>
<div class="d-flex justify-content-between">
  <div>
    <button *ngIf="!isLoading" [disabled]="!loginForm.valid" type="submit" class="btn bg-main text-white ms-auto d-block" style="display: block !important;">Register</button>
    <button *ngIf="isLoading" type="button" class="btn bg-main text-white ms-auto d-block" style="display: block !important;" claa ><i class="fas fa-spinner fa-spin"></i></button>
   </div>
   <a routerLink="/Forgetpass">Forget Password ?</a>
</div>

</form>