<div class="container">
  <form [formGroup]="shippingAddress" action="" class="m-auto my-5  w-75">
    <label for="exampleFormControlInput1" class="form-label mt-3">detailed address</label>
    <input required formControlName="details" type="text" class="form-control" type="text" id="exampleFormControlInput1"
      placeholder=" address">

    <label for="exampleFormControlInput2" class="form-label mt-3">phone number</label>
    <input required formControlName="phone" type="tel" class="form-control" type="tel" id="exampleFormControlInput2"
      placeholder="01...">

    <label for="exampleFormControlInput3" class="form-label mt-3">City</label>
    <input required formControlName="city" type="text" class="form-control" type="text" id="exampleFormControlInput3"
      placeholder="City">




    <form>
      <!-- Form fields -->
      <!-- ... -->

      <div class="form-check mt-3">
        <input class="form-check-input" type="radio" name="paymentOption" value="CASH"
          [checked]="selectedPayment === 'CASH'" (change)="handleRadioChange($event)">
        <label class="form-check-label" for="flexRadioDefault1">CASH</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="paymentOption" value="VISA"
          [checked]="selectedPayment === 'VISA'" (change)="handleRadioChange($event)" checked>
        <label class="form-check-label" for="flexRadioDefault2">VISA</label>
      </div>

      <button [disabled]="shippingAddress.invalid" (click)="checkOutCash(shippingAddress)"
        *ngIf="selectedPayment === 'CASH'" type="submit" class="btn btn-success mt-4 w-75 ms-5">Submit
      </button>
      <button [disabled]="shippingAddress.invalid" (click)="checkOutVISA(shippingAddress)"
        *ngIf="selectedPayment === 'VISA'" type="submit" class="btn btn-success mt-4 w-75 ms-5">Submit
      </button>
    </form>